<div id="<%= collection.handle %>" class="content">
    <h4 class="title is-3 mb-4"><%= collection.name %></h4>
    <p class="is-size-5	"><%= collection.overview %></p>
</div>
<div style="background-color: <%= @brand.company_color %>; border-radius: 50px; margin-right: 90%" class="pt-1 content"></div>