<% cushioning_level = AllowedTags::CUSHIONING_OPTIONS.find_index(cushioning) + 1 %>
<div class="grid is-gap-1">
  <% 3.times do |t| %>
    <% if t < cushioning_level %>
      <progress class="progress is-success" value="100" max="100"></progress>
    <% else %>
      <progress class="progress is-success" value="0" max="100"></progress>
    <% end %>
  <% end %>
</div>