<div class="section px-0 pt-0">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Comments</h1>
        </div>
    </div>
</div>
<%= turbo_frame_tag 'comments', class: 'comments' do %>
    <%= render partial: 'admin/comments/comments_tabs' %>
<% end %>