<div class="filter-wrapper columns">
    <div class="column is-one-fifth">
        <%= render partial: 'models/filter/list', locals: { filter_list: @filter_list } %>
    </div>
    <div class="column">
        <div class="fixed-grid has-1-cols-mobile has-3-cols">
            <div class="grid models-grid">
            <%= render models %>
            </div>
        </div>
    </div>
</div>