<% new_reply = Comment.new(post_id: comment.post.id, comment_id: comment.id) %>

<div class="<%= comment.parent_comment ? 'block' : 'mb-6 parent-comment-box' %>">
    <%= render partial: 'comments/info', locals: { comment: comment, new_reply: new_reply } %>
    <div class="reply-box block">
        <%= turbo_frame_tag new_reply.reply_to_turbo_frame_id, class: 'is-block block' do %>
        <% end %>
        
        <%= turbo_frame_tag comment.replies_for_turbo_frame_id, class: 'is-block block' do %>
            <%#= render @comment.replies %>
        <% end %>
    </div>
</div>