<%# Random number in id so tinymce initializes the div again after form submition %>
<div class="field">
    <div class="tinymce comment-tinymce <%= comment.parent_comment ? 'comment-reply-input' : nil %>" data-tinymce-target="field" data-tinymce-config="comment" name="comment[content]">
        <%= comment.content.to_s&.html_safe %>
    </div>
    <% if comment.errors %>
        <% comment.errors.full_messages_for(:content).each do |content_error| %>
            <p class="help is-danger"><%= content_error %></p>
        <% end %>
    <% end %>
</div>