<div class="reply-btns-wrapper">
    <%= link_to t('cta.reply'), new_post_comment_path(comment_id: comment.id), data: { turbo_frame: new_reply.reply_to_turbo_frame_id, action: 'click->comment-interactivity#toggleCommentForm', 'comment-interactivity-target': 'replyFormToggleBtn' } %>
</div>