<div class="section">
    <div class="container is-widescreen">
    <%= turbo_frame_tag 'comments' do %>
        <div class="block">
            <%= render @comments %>
        </div>
    <% end %>
    </div>
</div>
