<div class="section">
    <div class="container is-widescreen">
    <%= turbo_frame_tag @comment.replies_for_turbo_frame_id do %>
        <div class="block">
            <%= render @replies %>
        </div>
    <% end %>
    </div>
</div>