<div class="section px-0 pt-0">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Models</h1>
        </div>
        <div class="column">
            <div class="buttons is-right">
                <%= link_to 'Add a model', new_admin_model_path, class: "button is-link" %>
            </div>
        </div>
    </div>
</div>
<div class="fixed-grid has-1-cols">
    <div class="grid models-grid">
        <%= turbo_frame_tag 'models' do %>
            <%= render partial: 'admin/models/model', collection: @models, locals: { disable_turbo: true } %>
        <% end %>
    </div>
</div>  