<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to @app_name, admin_path, class: "navbar-item", data: { turbo: false } %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" onclick="toggleNavbar(this)">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
        </div>
      </div>
    </div>
  </div>
</nav>