<div class="field">
    <label class="label is-size-5 is-skeleton">Lorem Ipum</label>
    <div class="control">
        <% checkbox_count.times do %>
            <div class="py-1">
                <span class='is-skeleton'>
                    Lorem Ipum
                </span>
            </div>
        <% end %>
    </div>
    <hr>
</div>