<div class="section is-flex is-clipped homepage-hero is-relative">
    <div class="homepage-carousel-background is-hidden-touch">
    </div>
    <div class="column homepage-hero-outer">
        <div class="columns homepage-hero-inner">
            <div class="column">
                <div class="container title-container is-flex is-justify-content-center is-flex-direction-column">
                    <h1 class="title is-1">Shoe Sensei</h1>
                    <h2 class="title is-3"><%= t('home_hero_subtitle_html') %></h2>
                </div>
            </div>
            <div class="column is-relative">
                <%= render partial: "shared/homepage_carousel/carousel" %>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container is-widescreen">
        <%= turbo_frame_tag 'models-filter', src: filter_models_path do %>
            <%= render partial: 'models/filter/skeleton/grid', locals: { models_count: @models_count } %>
        <% end %>
    </div>
</div>