<div class="section">
    <div class="container is-widescreen">
        <%= turbo_frame_tag 'models-filter', src: filter_models_path do %>
            <%= render partial: 'models/filter/skeleton/grid', locals: { models_count: @models_count } %>
        <% end %>
    </div>
</div>