<div class="homepage-carousel-background-mobile is-hidden-desktop">
</div>
<div class="homepage-carousel-wrapper columns">
    <% 4.times do %>
        <%= render partial: 'shared/homepage_carousel/strip' %>
    <% end %>
</div>