<div class="homepage-carousel-background-mobile">
</div>
<div class="homepage-carousel-wrapper columns">
    <%# 4.times do %>
        <%= render partial: 'shared/homepage_carousel/strip', locals: { images: ['new-balance-logo.webp', 'brooks-adrenaline-gts-23.webp', 'brooks-logo.webp', 'on-cloudmonster-1.webp'] } %>
        <%= render partial: 'shared/homepage_carousel/strip', locals: { images: ['on-cloudsurfer-trail.webp', 'on-logo.webp', 'hoka-gaviota-5.webp', 'hoka-logo.webp'] } %>
        <%= render partial: 'shared/homepage_carousel/strip', locals: { images: ['brooks-logo.webp', 'on-cloudmonster-1.webp', 'new-balance-logo.webp', 'hoka-speedgoat-5.webp'] } %>
        <%= render partial: 'shared/homepage_carousel/strip', locals: { images: ['brooks-adrenaline-gts-23.webp', 'on-cloud-x-4.webp', 'hoka-bondi-8.webp', 'on-logo.webp'] } %>
    <%# end %>
</div>