
<div class="photobanner column">
    <% 2.times do %>
        <% images.each do |image| %>
            <figure class="image is-1by1">
                <%= image_tag image, class: 'is-unselectable' %>
            </figure>
        <% end %>
    <% end %>
</div>