<div class="section">
    <div class="container is-widescreen is-max-desktop">
        <div class="content">
            <h1>Términos de Uso</h1>
            <p><strong>Última actualización:</strong> 24 de marzo del 2025</p>
            <p>¡Bienvenido a Shoe Sensei! Al acceder o usar nuestro sitio web <a href="https://shoesensei.com/es">(https://shoesensei.com/es)</a>, aceptas cumplir con estos Términos de Uso y estar sujeto a ellos. Si no estás de acuerdo, por favor no utilices nuestro sitio.</p>
            <h2>1. Uso del Sitio</h2>
            <ul>
                <li>Debes tener al menos 13 años para usar Shoe Sensei.</li>
                <li>Aceptas utilizar el sitio solo para fines legales y de acuerdo con estos términos.</li>
                <li>Nos reservamos el derecho de modificar o descontinuar el sitio web en cualquier momento sin previo aviso.</li>
            </ul>
            
            <h2>2. Propiedad Intelectual</h2>
            <ul>
                <li>Todo el contenido, incluidos textos, imágenes y logotipos, es propiedad de Shoe Sensei, a menos que se indique lo contrario.</li>
                <li>No puedes copiar, reproducir ni distribuir ningún contenido sin permiso.</li>
            </ul>
            
            <h2>3. Contribuciones del Usuario</h2>
            <ul>
                <li>Al enviar contenido (por ejemplo, reseñas, comentarios), otorgas a Shoe Sensei una licencia no exclusiva y libre de regalías para usar y mostrar tu contenido.</li>
                <li>Nos reservamos el derecho de eliminar cualquier contenido que consideremos inapropiado.</li>
            </ul>
            
            <h2>4. Renuncias y Limitación de Responsabilidad</h2>
            <ul>
                <li>Shoe Sensei proporciona información con fines educativos e informativos. No garantizamos la exactitud o fiabilidad de ningún contenido.</li>
                <li>No somos responsables de ningún daño derivado del uso de nuestro sitio web.</li>
            </ul>
            
            <h2>5. Ley Aplicable</h2>
            <ul>
                <li>Estos términos se regirán e interpretarán conforme a las leyes del estado de Florida, EE.UU.</li>
            </ul>
        </div>
    </div>
</div>