// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// https://bulma.io/documentation/sass/responsive-mixins/
@use "bulma/sass/utilities/mixins";

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/css/bulma';
@import "bulma/sass/utilities/initial-variables.scss";
// @import 'bulma/bulma';
@import './direct_uploads.css';

.model-box {
    height: 100%;

    .image {
        a {
            display: block;
            height: 100%;
        }
    }
}

.sorting-field {
    flex: auto 0 0;
}

.is-disabled {
    pointer-events: none;
}

.flash {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-width: 528px;
    width: 100%;
    margin: 0 24px;
    
    .notification {
        animation: appear-then-fade 2.5s both;
    }
}

@keyframes appear-then-fade {
    100% {
        display: none;
    }
    0%, 100% {
        opacity: 0;
    }

    5%, 60% {
        opacity: 1;
    }
}

.transparent-icon {
    opacity: .35;
}

.brand-hero {
    position: relative;
    overflow: hidden;
    margin: 0;

    figure.image {
        width: 100%;
        height: 100%;
    }

    > img {
        // height: 100%;
        // display: block;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // object-fit: contain;
        // padding: 12px;

        object-fit: contain;

        @include mixins.touch {
            max-width: 50%;
            max-height: 364px;
            height: 100%;
        }
    }
}

nav.navbar.is-active {
    @include mixins.touch {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // overflow: scroll;
        .navbar-menu.is-active {
            height: 100%;
            overflow: scroll;
        }
      }
}

.filter-sorting-block {
    @include mixins.mobile {
        button, .select select {
            width: 100%;
        }
      }
}

.filter-list-wrapper {
    width: 100%;

    .mobile-filter-toggle {
        width: 100%;
    }
}

html.is-clipped {
    @include mixins.mobile {
        height: 100vh;

        body {
            height: 100vh;
        }
    }
}

.filter-wrapper {
    @include mixins.mobile {
        .filter-list-wrapper {
            display: none;
        }

        &.mobile-filter-active {
            .filter-list-wrapper {
                display: block;
            }   
        }
    }
}

body {
    @extend .is-flex;
    @extend .is-flex-direction-column;
    min-height: 100vh;
}

.table-of-contents {
    // @extend .has-background-white-ter;
    @extend .p-5;
    border: 1px solid $grey-light;
    border-radius: $radius-large;
}