// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// https://bulma.io/documentation/sass/responsive-mixins/

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

$navbar-height: 52px;

@use "bulma/sass/base" as *;
@use "bulma/sass/utilities/mixins";
@use 'bulma/css/bulma' as *;
@use "bulma/sass/utilities/initial-variables.scss" as *;
@use "bulma/sass/utilities/derived-variables" as *;
@use "bulma/sass/form" as *;
@use "bulma/sass/components/breadcrumb" with(
    $breadcrumb-item-separator-color: $grey-dark,
);
@import './direct_uploads.css';

@import 'homepage-hero';

.model-box {
    height: 100%;

    .image {
        a {
            display: block;
            height: 100%;
        }
    }
}

.sorting-field {
    flex: auto 0 0;
}

.is-disabled {
    pointer-events: none;
    user-select: none;
}

.flash {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-width: 528px;
    width: 100%;
    margin: 0 24px;
    
    .notification {
        &:not(.do-not-fade) {
            animation: appear-then-fade 2.5s both;
        }
    }
}

@keyframes appear-then-fade {
    100% {
        display: none;
    }
    0%, 100% {
        opacity: 0;
    }

    5%, 60% {
        opacity: 1;
    }
}

@keyframes temp-highlight {
    100% {
        background-color: none;
    }
    0% {
        background-color: $yellow;
    }
}

.highlighted-background {
    animation: temp-highlight 1.5s normal;
}

.transparent-icon {
    opacity: .35;
}

.brand-hero {
    position: relative;
    overflow: hidden;
    margin: 0;

    figure.image {
        width: 100%;
        height: 100%;
    }

    > img {
        // height: 100%;
        // display: block;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // object-fit: contain;
        // padding: 12px;

        object-fit: contain;

        @include mixins.touch {
            max-width: 50%;
            max-height: 364px;
            height: 100%;
        }
    }
}

nav.navbar.is-active {
    @include mixins.touch {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // overflow: scroll;
        .navbar-menu.is-active {
            height: 100%;
            overflow: scroll;
        }
      }
}

.filter-sorting-block {
    @include mixins.mobile {
        button, .select select {
            width: 100%;
        }
      }
}

.filter-list-wrapper {
    width: 100%;

    .mobile-filter-toggle {
        width: 100%;
    }
}

html.is-clipped {
    @include mixins.mobile {
        height: 100vh;

        body {
            height: 100vh;
        }
    }
}

@include mixins.mobile {
    .filter-list-wrapper {
        display: none;
    }

    .mobile-filter-active {
        .filter-list-wrapper {
            display: block;
        }   
    }
}

body {
    @extend .is-flex;
    @extend .is-flex-direction-column;
    min-height: 100vh;
}

.table-of-contents {
    // @extend .has-background-white-ter;
    @extend .p-5;
    border: 1px solid $grey-light;
    border-radius: $radius-large;
}

.card-border-radius {
    border-radius: $radius-large;
}

a {
    &.is-link:hover {
    color: lighten($link, 10%)
    }

    &.title:hover {
        color: lighten($text, 10%);
    }
}

.table-of-contents {
    position: sticky;
    top: calc($navbar-height + 3rem);

    .menu-list a {
        color: $link;
    }
}

.is-loading {
    .model-box {
        .media-content {
            * {
                @extend .is-skeleton;
            }
        }
        .icon {
            visibility: hidden;
        }
        p {
            @extend .is-skeleton;
        }
        .card-image {
            @extend .is-skeleton
        }
        figure {
            @extend .is-skeleton;
            image {

                visibility: hidden;
            }
        }
    }

    .pagination a, .field-label label {
        @extend .is-skeleton
    }

    .field-body {
        @extend .has-skeleton;

        * {
            visibility: hidden;
        }

        &::after {
            width: 100%;
        }
    }
}

.field:not(:last-child) {
    margin-bottom: 1.75rem;
}

.content {
    table {
        @extend .table;
        @extend .is-bordered;
        // Todo: find how to display good tables for mobile usrrs instead of hiding it
        @include mixins.mobile {
            display: none;
        }
    }
    a {
        overflow-wrap: anywhere;
    }
}

.tinymce {
    @extend .content;
    @extend .textarea;
    max-height: unset !important;
    height: unset;
}

.menu-list li ul {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    background-color: $grey-light;
}

.footer {
    border-top: 1px $grey-light solid;
}

@include mixins.touch {
    form.button_to {
        button.navbar-item {
            width: 100%;
            text-align: left;
        }
    }
}

.new-password-container {
    @extend .p-4;
    @extend .field;
    border: 1px $scheme-main solid;
    border-radius: $input-radius;
    border-color: $input-border-color;
    border-width: 1px;
}

// .replies- {
//     // @extend .pl-4;
// }

.replies-wrapper {
    @extend .is-relative;

    &.is-compacted {
        .replies-list, .comments-close-bar {
            @extend .is-hidden;
        }

        .comment-open-btn {
            @extend .is-block;
        }

        + .replies-count-wrapper {
            @extend .is-hidden;
        }
    }

    &.is-opened {
        + .replies-count-wrapper {
            @extend .is-hidden;
        }
    }
}

.replies-list {
    @extend .is-block;
    @extend .block;
    @extend .pl-4;
}

.comment-open-btn {
    @extend .is-hidden;
    color: var(--bulma-link-text);
    position: relative;

    span {
        cursor: pointer;
    }
}

.comments-close-bar {
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    cursor: pointer;
    padding-right: 8px; // For easier clicking

    &:before {
        content: '';
        background: $grey-lighter;
        width: inherit;
        height: inherit;
        position: inherit;
        left: 0;
    }
}

.parent-comment-box {
    @extend .pb-5;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: $grey-lighter;
}