.homepage-hero {
    @extend .is-clipped;
    @include mixins.desktop {
        min-height: calc(100vh - $navbar-height + 12px);
    }
}


.homepage-hero {
    @include mixins.desktop {
        padding-right: 0;
        border-bottom: 2px $grey-light solid;
    }

    @include mixins.mobile {
        padding-bottom: 24px;
    }
}

.homepage-hero-outer {
    width: 100%;
}

.title-container {
    height: 100%;
    h2 {
        line-height: 1.35em;
    }
    
    @include mixins.desktop {
        padding-right: 48px;
        margin-bottom: 0;
    }

    .button {
        @include mixins.mobile {
            display: flex;
            width: 100%;
        }
    }
}

.text-wrap {
    text-wrap: wrap;
}

.homepage-video-background {
    position: relative;
    video {
        width: 100%;
        height: 100vh;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        top: -36px;
    }
}