<div class="logo-carousel-background-mobile is-hidden-desktop">
</div>
<div class="logo-carousel-wrapper columns">
    <% 4.times do %>
        <%= render partial: 'shared/logo_carousel/strip' %>
    <% end %>
</div>