<footer class="footer mt-auto">
  <div class="content has-text-centered">
    <p>
        <%= t('app_created_by_html', app_name: @app_name, developer_name: @developer_name) %>
    </p>
  </div>
</footer>