<%= stylesheet_link_tag "emails" %>

<div class="section">
    <div class="content">
        <h1 class="title is-1">Welcome to Shoe Sensei!</h1>

        <p class="has-text-centered is-size-4">Please confirm your account email using the button below:</p>
        <p class="has-text-centered mb-6"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'button is-link has-text-white is-size-4' %></p>

        <p>You may also use the following link instead:<br/>
            <span>
                <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>
            <span>
        </p>
    </div>
</div>