<%= stylesheet_link_tag "emails" %>

<div class="section">
    <div class="content">
        <p>Hello <%= @resource.email %>!</p>

        <p>Someone has requested a link to change your password. You can do this through the link below.</p>

        <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'button is-link has-text-white' %></p>

        <p>You may also use the following link instead:<br/>
        <span>
            <%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %>
        <span>
        </p>

        <div class="message is-warning">
            <div class="message-body">
                <p>If you didn't request this, please ignore this email.</p>
                <p>Your password won't change until you access the link above and create a new one.</p>
            </div>
        </div>
    </div>
</div>